/* Inter  */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Open sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: transparent;
}

main {
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fd {
  flex-direction: column;
}

.wh100 {
  width: 100%;
  height: 100%;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #3c5774;
}

input:focus + .slider {
  box-shadow: 0 0 1px #3c5774;
}

input:checked + .slider:before {
  -webkit-transform: translateX(25px);
  -ms-transform: translateX(25px);
  transform: translateX(25px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

@media only screen and (min-height: 900px) {
  .slider.round {
    width: 120px;
    height: 50px;
  }

  .slider:before {
    width: 34px;
    height: 34px;
    margin-bottom: 2%;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(70px);
    -ms-transform: translateX(70px);
    transform: translateX(70px);
  }
}

@media only screen and (min-width: 2560px) {
  #myRange {
    height: 16px;
  }

  #myRange::-webkit-slider-thumb {
    width: 50px;
    height: 50px;
  }

  #myRange::-moz-range-thumb {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (max-width: 1920px) {
  #body-area svg {
    max-width: 84%;
  }
}

@media only screen and (max-width: 1600px) {
  #body-area svg {
    max-width: 75%;
  }
}

.loading-dots::after {
  content: "";
  animation: dots 1.5s steps(3, end) infinite;
}

@keyframes dots {
  0% {
    content: "";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.audio-donate {
  width: 84%;
  height: 40%;
  max-width: 700px;
  max-height: 160px;
  min-height: 160px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 6px 5px 3px rgb(0 0 0 / 14%);
}

.normal-donate {
  width: 84%;
  height: 100%;

  max-width: 700px;

  max-height: 250px;
  min-height: 250px;

  background-color: white;

  border-radius: 5px;
  box-shadow: 0px 6px 5px 3px rgb(0 0 0 / 14%);
}

.dd-normal {
  width: 93%;
  height: 88%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 7px;
  max-height: 200px;
  background-color: #fafaf0;
}

.dd-audio {
  width: 93%;
  height: 69%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 7px;
  max-height: 200px;
  background-color: #fafaf0;
}
.slider.round:before {
  border-radius: 50%;
}

.slidecontainer {
  width: 100%;
}

.rangeSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 70%;
  height: 7px;
  background: #3c5774;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 7px;
}

.rangeSlider:hover {
  opacity: 1;
}

.rangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #07cca0;
  cursor: pointer;
  border-radius: 50px;
}

.rangeSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #07cca0;
  cursor: pointer;
  border-radius: 50px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  word-wrap: break-word;
}

#body-area svg {
  width: 84%;
}

.initial {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #461881, #7b1af7);
}

.initialArea {
  width: 100%;
  height: 100%;
}

.description-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 10%;
}

h2.description-title {
  width: 100%;

  color: white;
  font-size: 5rem;
  font-family: "Inter";
  font-weight: bold;
  line-height: 4.3rem;

  margin-bottom: 3%;
}

.trueMoney {
  color: #fad40f;
}

p.subTitle {
  font-size: 2rem;
  font-family: "Inter";
  font-weight: 200;
  color: white;
}

.satsfi-area {
  width: 100%;
  height: 50%;

  position: relative;

  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;

  gap: 10%;

  border-radius: 25%;
}

.satsfi-title-area {
  width: 100%;
  height: 25%;
}

.button-area-satsfi {
  width: 50%;
  height: 25%;
}

h1.logo-title {
  color: #ffca41;
  font-size: 5rem;
  font-family: "Inter";
  font-weight: bold;
}

.button-area {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 3%;
}

button.launch-button {
  width: 100%;
  height: 100%;
  max-width: 250px;

  color: #ff9800;
  font-size: 1.4rem;
  font-family: "Roboto";
  font-weight: bold;

  background-color: transparent;

  border-radius: 5px;
  border: 1px solid #ff9800;

  padding: 5%;

  transition: 0.4s ease-in;

  cursor: pointer;
  user-select: none;
  outline: none;
}

#link-initial-button-style {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 1s;

  color: #ff9800;
  text-decoration: none;
}

#link-initial-button-style:hover {
  color: white;
}

button.launch-button:hover {
  color: #ff9800;
  background-color: #cf7d0273;
  border: 2px solid #b47312;
}

/* [TOPIC AREA] */

.topic {
  width: 100%;
  height: 75%;
  background-color: white;
  position: relative;

  gap: 2%;
  padding: 2%;
}

.card-privacy {
  width: 25%;
  height: 100%;

  padding: 1%;

  border: 1px solid #8105bc;

  background-color: white;

  border-radius: 4px;
}

.card-ai {
  width: 25%;
  height: 100%;

  padding: 1%;

  border: 1px solid #8105bc;

  background-color: white;

  border-radius: 4px;
}

.card-fee {
  width: 25%;
  height: 100%;

  padding: 1%;

  border: 1px solid #8105bc;

  background-color: white;

  border-radius: 4px;
}

.cardHead {
  width: 100%;
  height: 25%;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.cardBody {
  width: 100%;
  height: 50%;
}

.cardFooter {
  width: 100%;
  height: 50%;

  text-align: center;
}

.cardFooter h2 {
  color: #945c92;
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
  font-family: "Inter";
}

.cardHead h2 {
  font-family: "Inter";
  font-weight: bold;
  background: linear-gradient(to right, #ed53e6, #8105bc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* [ HOW TO AREA ] */

.howto {
  width: 100%;
  height: 100%;
  background-color: #fbf7f4;
}

.wrappedArea {
  width: 100%;
  height: 100%;
}

.videoSection {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  padding-left: 2.5%;
  padding-right: 2.5%;
}

img#cellImage {
  width: 100%;
  height: auto;
}

#video {
  position: absolute;
  top: 3%;
  left: 8.7%;
  width: 82.7%;
  height: 93%;
  object-fit: cover;
  z-index: 2;
}

.descriptionArea {
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.titleArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-right: 10%;
}

.descriptionArea h2 {
  font-size: 3rem;
  font-family: "Poppins";
  font-weight: bold;
}

.descriptionArea h3 {
  font-size: 1.6rem;
  font-family: "Open sans";
  font-weight: lighter;
}

#paperButton {
  width: 50%;
  height: 100%;

  margin-top: 2%;

  color: #45abdb;
  font-size: 1.4rem;

  transition: 1s;
  background: transparent;

  border-radius: 4px;
  border: 2px solid #45abdb;

  cursor: pointer;
  user-select: none;
}

#link-paper-button-style {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 1s;

  color: #45abdb;
  text-decoration: none;
}

#paperButton:hover {
  color: white;
  background-color: #45abdb;
}

#link-paper-button-style:hover {
  color: white;
}
/* [ LIGHTNING AREA ] */
.lightning-area {
  width: 100%;
  height: 25%;
  background-color: white;
}

.lightning-area h2 {
  font-size: 2rem;
  font-family: "Inter";
  font-weight: 300;
  background: linear-gradient(to right, #ed53e6, #8105bc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* [ FAQ AREA ] */
.faq {
  width: 100%;
  height: 75%;
  background-color: #240c42;
}

.icon-area {
  width: 100%;
  height: 25%;
  border-bottom: 1px solid #ffca41;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

.icon-area h2 {
  color: #ffca41;
  font-size: 4rem;
  font-weight: 300;
  font-family: "Inter";
}

.tou-area h2 {
  color: #b7b8c3;
  font-size: 2rem;
  font-weight: 300;
  font-family: "Inter";
}

#email-footer {
  color: #b7b8c3;
  font-size: 2rem;
  font-weight: 300;
  font-family: "Inter";
}

@media only screen and (max-width: 700px) {
  .initialArea {
    flex-direction: column;
  }

  .cardFooter {
    width: 75%;
  }

  .description-area {
    padding: 0%;
  }

  .initial .initialArea .description-area h2.description-title {
    width: 75%;
    font-size: 2rem;
    line-height: 2rem;
  }

  p.subTitle {
    width: 75%;
    font-size: 1rem;
  }

  .button-area-satsfi {
    width: 64%;
  }

  button.launch-button {
    width: 100%;
  }

  /* [ TOPIC ] */

  .topic {
    width: 100%;
    flex-direction: column;
  }

  .topic .card-privacy {
    width: 100%;
    height: 30%;
  }

  .topic .card-ai {
    width: 100%;
    height: 30%;
  }

  .topic .card-fee {
    width: 100%;
    height: 30%;
  }

  .topic .cardBody {
    height: 30%;
  }

  .topic .cardHead h2 {
    font-size: 1rem;
  }

  .topic .cardFooter h2 {
    font-size: 0.91rem;
    height: 100%;
  }
  .wrappedArea {
    flex-direction: column;
  }
  .titleArea {
    align-items: center;
    padding-left: 10%;
  }
  .descriptionArea h2 {
    font-size: 2rem;
  }

  .descriptionArea h3 {
    font-size: 1rem;
    text-align: center;
  }

  #paperButton {
    width: 100%;
    height: 20%;
  }

  /* [LIghtning Area] */
  .lightning-area {
    padding-left: 5%;
    padding-right: 5%;
  }
  .lightning-area h2 {
    font-size: 1.4rem;
    text-align: center;
  }
}

@media only screen and (max-width: 1250px) {
  h2.description-title {
    width: 100%;
    font-size: 3rem;
    line-height: 2rem;
  }
  .button-area-satsfi {
    width: 70%;
  }
  .cardFooter h2 {
    font-size: 1.4rem;
  }
  .card-privacy {
    width: 50%;
  }
  .card-ai {
    width: 50%;
  }
  .card-fee {
    width: 50%;
  }

  .wrappedArea {
    flex-direction: column;
  }

  img#cellImage {
    width: 75%;
    height: auto;
  }

  .titleArea {
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .descriptionArea h3 {
    text-align: center;
  }

  #paperButton {
    width: 100%;
    height: 25%;
  }

  .faq-area {
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}

@media only screen and (min-width: 1500px) {
  .cardFooter h2 {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1900px) {
  button.launch-button {
    font-size: 2rem;
    width: 100%;
    max-width: 320px;
  }
  .titleArea {
    justify-content: center;
  }
  .lightning-area h2 {
    font-size: 3rem;
  }
  .icon-area h2 {
    font-size: 5rem;
  }
  .tou-area h2 {
    font-size: 3rem;
  }
  .titleArea h3 {
    font-size: 2.1rem;
  }
}

@media only screen and (min-width: 2100px) {
  button.launch-button {
    font-size: 3rem;
    width: 100%;
    max-width: 500px;
  }
  .lightning-area h2 {
    font-size: 4rem;
  }
  .icon-area h2 {
    font-size: 6.1rem;
  }
  .tou-area h2 {
    font-size: 4rem;
  }
  .cardFooter h2 {
    font-size: 2rem;
  }
  h1.logo-title {
    font-size: 10rem;
  }
  p.subTitle {
    font-size: 4rem;
  }
  .titleArea h3 {
    font-size: 3rem;
  }
}
